<ion-header>
  <ion-toolbar>
      <ion-header>   
    <ion-toolbar>
        <ion-menu-button menu="first" color="primary" slot="start"></ion-menu-button>
      <ion-title>Search</ion-title>

    <ion-menu side="start" menuId="first" contentId="main" type="push">
       
      <ion-list>
        <br>
        <br>
        Menu
        <ion-item (click)=openPage()>login</ion-item>
        <ion-item (click)=openMyCollection()>My Collection</ion-item>
        <ion-item (click)=openSearchByCountry()>Search by Country</ion-item>
        <ion-item (click)=goToSearchHistory()>Search History</ion-item>
      </ion-list>
  
  </ion-menu>
   	<ion-searchbar searchIcon = "search" 
   		animated 
   		showCancelButton="focus"
   		placeholder = "Search by Title"
   		 autocorrect='on' 
   		 [(ng-Model)]="queryText" 
   		 (ionInput) = 'searchWords()'></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>
	<ion-list>
		<!--Need to add a on click link for the country to be taken to the search by country page-->
		<ion-item *ngFor='let country of counrties'>
			<ion-label padding>
				{{country.name}}
			</ion-label>
		</ion-item>
</ion-content>
